
.chat-online {
    color: #34ce57
    }
    
    .chat-offline {
    color: #e4606d
    }
    
    .chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    
    }
    
    .chat-message-left,
    .chat-message-right {
    display: flex;
    flex-shrink: 0
    }
    
    .chat-message-left {
    margin-right: auto
    }
    
    .chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
    }
    .py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    }
    .px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    }
    .flex-grow-0 {
        flex-grow: 0!important;
    }
    .border-top {
        border-top: 1px solid #dee2e6!important;
    }
    
    .icon{
        position: absolute; 
        top: 44%;
        font-size: 12px;
    }
    .TextBton{
        font-size: 0.9rem !important;
        font-weight: 600 !important;
        color: #E33629 !important;
        font-family: "Inter Tight", sans-serif !important;
    }
    .TextBton2{
        font-size: 0.9rem !important;
        font-weight: 600 !important;
        color:#0387D6!important;
        font-family: "Inter Tight", sans-serif !important;
    }
    
    .mainRight{
        border-left: 1.5px solid #6B7A85;
    }
    
    .sms{
       border-radius: 0 16px 16px 16px;
    }
    .bg-grey{
        background: #EAEAEA;
        
    }
    

    .TextPlace::placeholder{
        color: #000000 !important;
        font: Inter;
        font-weight: 500 !important;
        font-size: 14px;
    }
    
    @media(max-width:992px){
        .mainRight{
            border-left: none;
        }
    }